@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Fira Code", monospace;
  background-color: #010c15;

  color: #fff;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer !important;
}
:where(.css-dev-only-do-not-override-p8b6i).ant-drawer-right
  > .ant-drawer-content-wrapper {
  width: 92vw !important;
  height: calc(-58px + 95.8vh);
  top: 2rem;
  left: 50% !important;
  transform: translateX(-50%) !important;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.ant-drawer-content {
  background-color: rgb(1, 22, 39) !important;
  height: 92vh !important ;
  border-radius: 0.8rem;
}
.ant-menu {
  background-color: rgb(1, 22, 39) !important;
}
.ant-drawer-header {
  all: unset !important;
  padding-top: 3rem !important;
  padding-inline: 3rem !important;
  display: flex !important;
  justify-content: space-between !important;
}
.ant-drawer-title {
  all: unset !important;
  color: #607b96 !important;
}
.ant-drawer-header-title {
  all: unset !important;
  width: 100% !important;
  display: flex !important;
}
.anticon {
  all: unset !important;
}
.ant-drawer-close {
  margin-left: auto !important;
  order: 2 !important;
}

.ant-drawer-mask {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
header {
  width: 92vw !important;
  position: fixed;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin: 0px !important;
  margin-top: 2rem !important;
}
footer {
  width: 92vw !important;
  position: fixed;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin: 0px !important;
  margin-top: 2rem !important;
}
.content {
  width: 92vw;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  margin-top: 7.6rem;
  border-radius: 0 0 8px 8px;
  background-image: url("/shared/code-snippet.png");
  height: 85vh;
  @media screen and (min-width: 1280px) {
    background-image: none;
  }
}
h2 {
  color: #607b96;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.ant-drawer-header .ant-drawer-title {
  color: #607b96 !important;
  font-family: "Fira Code", monospace !important;
  font-size: 1.6rem !important;
  font-style: normal !important;
  font-weight: 450 !important;
}
.mainPage {
  background-image: url("/shared/code-snippet.png") !important;
  background-size: contain !important;
  transition: all 0.5s ease;
  width: 100% !important;
  height: 78vh;
  overflow-y: hidden !important;
  @media screen and (min-width: 1280px) {
    background-image: url("/shared/bg-main-desktop.png") !important;
    background-color: transparent !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}
.menuDiv {
  .ant-menu-item {
    padding-block: 3rem;
    height: 10rem !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.MuiBox-root {
  background-color: transparent !important;
  display: flex !important;
  width: 20rem !important;
  @media screen and (min-width: 1280px) {
    width: 30rem !important;
  }
  li {
    @media screen and (min-width: 1280px) {
      width: 30rem !important;
    }
  }
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  background-color: transparent !important;
  width: 100% !important;
  height: 3.1rem;
  flex-shrink: 0;
  background-color: rgb(0, 30, 54) !important;
  @media screen and (min-width: 1280px) {
    width: 30rem !important;
  }
}

.about-me {
  font-size: 18px !important;
  font-family: "Fira Code", sans-serif;
  font-weight: 600 !important;
  @media screen and (min-width: 1280px) {
    width: 40rem !important;
  }
}

.css-ix1f03-MuiTypography-root {
  p {
    width: 100% !important;
  }
}

.grey {
  color: rgb(96, 123, 150);
}
.MuiList-root {
  display: flex !important;
  flex-direction: column !important;
  li {
    padding: 0 !important;
  }
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: rgb(1, 22, 39);
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 30, 54);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 33, 59);
}
.css-h4y409-MuiList-root {
  @media screen and (min-width: 1280px) {
    width: 30rem !important;
  }
}
.css-1p823my-MuiListItem-root {
  min-width: 91.5vw !important;
  padding: 0;
  font-family: "Fira Code", monospace;
  @media screen and (min-width: 1280px) {
    min-width: 40rem !important;
  }
  @media screen and (min-width: 1280px) {
    width: 30rem !important;
  }
}
.css-1fbouff-MuiTypography-root {
  color: #607b96;
  font-size: 16px !important;
  line-height: 200% !important;
  font-weight: 700 !important;
  margin-right: 2rem !important;
}

.css-10hburv-MuiTypography-root {
  font-size: 1.6rem !important;

  font-style: normal !important;
  font-weight: 560 !important;
  line-height: normal !important;
}
.css-i4bv87-MuiSvgIcon-root {
  color: #607b96;
  width: 1.2em;
}
.skills {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
  }
  p {
    font-size: 3.4rem;
    color: rgb(77, 91, 206);
    font-weight: 700;
    line-height: 200%;
    text-align: center;
    margin-top: 2rem;
  }
}
.css-dev-only-do-not-override-p8b6i.ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  content: "";
}

form {
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  padding-top: 3rem !important;
  padding-inline: 3rem !important;
  @media screen and (min-width: 1280px) {
    padding-top: 5rem !important;

    width: 58rem !important;
  }

  label {
    align-self: start !important;
    color: #607b96 !important;
    font-size: 1.6rem !important;
    font-weight: 450 !important;
    display: block !important;
    flex: 1 !important;
    cursor: pointer !important;
  }
  input {
    width: 100% !important;
    height: 41px !important;
    color: #fff !important;
    border-radius: 8px !important;
    border: 1px solid #607b96 !important;
    background: #011221 !important;
    box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3) !important;
  }
  textArea {
    width: 100% !important;
    color: #fff !important;
    border-radius: 8px !important;
    border: 1px solid #607b96 !important;
    background: #011221 !important;
    box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3) !important;
  }
}

.pink {
  color: #c98bdf;
}
.grey {
  color: #607b96;
}
.blue {
  color: #5565e8;
}
.orange {
  color: #fea55f;
}

.css-1fderfv-MuiPaper-root-MuiAccordion-root {
  background-color: transparent !important;
}
.css-v84d5j-MuiSvgIcon-root {
  color: white;
}
.css-ta84vm-MuiAccordionDetails-root {
  display: flex !important;
  align-items: center !important;
  gap: 0.6rem !important;
  span {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.ant-checkbox-inner {
  border: 1px solid #607b96 !important;

  background-color: transparent !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #607b96 !important;
  border-color: #607b96 !important;
}

.custom-checkbox .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.custom-checkbox .ant-checkbox:hover .ant-checkbox-inner {
  border-color: rgb(240, 240, 244) !important;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  margin-left: 1rem;
}

.css-ta84vm-MuiAccordionDetails-root {
  padding: 0 !important;
}

.css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 0 !important;
}

.css-1fderfv-MuiPaper-root-MuiAccordion-root {
  width: 100% !important;
  @media screen and (min-width: 1220px) {
    width: 52% !important;
  }
}

.css-pwcg7p-MuiCollapse-root {
  margin-left: 2rem;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom {
  animation: zoomInOut 1s infinite;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 1.6rem !important;

  font-weight: 400 !important;
}
.css-sz7ec1-MuiAccordionDetails-root {
  padding: 0;
}
.css-1gmt4nj-MuiAccordionDetails-root {
  padding: 0;
}

.css-ahj2mt-MuiTypography-root {
  min-width: 140% !important;
}
.codeDemo {
  span {
    font-size: 1.8rem;
    font-weight: 450;
    line-height: 150%;
  }
}

:where(.css-dev-only-do-not-override-p8b6i).ant-menu-light
  .ant-menu-item-selected {
  background-color: transparent;
}
.text-container {
  height: 10px;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s ease;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: rgb(67, 217, 173);
}

.text-container.hidden {
  opacity: 0;
}
